.menu-deslogado {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  background-color: #FFF;
  margin: auto;
  font-size: 14px;

  @media (max-width: 1050px) {
    margin: 0px;
    padding: 0px 16px;
    width: calc(100% - 32px);
    align-items: center;

    &__wrapper-logo {
      &--logo {
        width: 160px;
      }
    }
  }

  @media (max-width: 768px) {
    margin: 0;
    padding: 0px 16px;
    width: calc(100% - 32px);
    height: 56px;
  }

  a {
    color: #060606;
    text-decoration: none;
  }

  &__wrapper-logo {
    display: flex;
    width: 75%;
    font-weight: 700;
    a:first-child {
      display: flex;
      align-items: center;
    }

    @media (max-width: 1050px) {
      width: 100%;
    }

    &--logo {
      background: url("../../assets/footer/logo-ticketsports.svg") no-repeat;
      background-size: contain;
      width: 182px;
      height: 32px;
      margin-right: 32px;

      @media (max-width: 1024px) {
        width: 160px;
        margin-right: 8px;
      }

      @media (max-width: 768px) {
        width: 160px;
        height: 32px;
      }
    }

    &--item1 {
      padding: 8px;
      font-weight: 500;

      @media (max-width: 1024px) {
        font-size: 14px;
      }

      @media (max-width: 768px) {
        display: none;
      }

      &:hover {
        background-color: #06060619;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    &--item2 {
      padding: 8px;
      margin: 0px 16px;
      font-weight: 500;

      @media (max-width: 1024px) {
        margin: 0px 8px;
        font-size: 14px;
      }

      @media (max-width: 768px) {
        display: none;
      }

      &:hover {
        background-color: #06060619;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    &--item3 {
      padding: 8px;
      font-weight: 500;
      margin-right: 16px;
      @media (max-width: 1024px) {
        font-size: 14px;
      }

      @media (max-width: 768px) {
        display: none;
      }

      &:hover {
        background-color: #06060619;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  &__wrapper-login {
    display: flex;
    align-items: center;

    .active {
      border-bottom: 4px solid #000; // Aqui você define a cor e o tamanho da borda
    }

    &--idioma {
      display: flex;
      align-items: center;
      font-weight: 500;
      border-bottom: 4px solid transparent;
      cursor: pointer;

      @media (max-width: 1050px) {
        p {
          display: none;
        }
      }

      button {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        margin-left: 8px;
        color: #060606;
        font-weight: 500;
      }
    }

    &--ajuda {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    &--icon-menu {
      display: none;

      @media (max-width: 768px) {
        display: block;

        button {
          width: 40px;
          height: 40px;
          margin-left: 8px;
          background: url("../../assets/icon-hamburguer.svg") no-repeat;
        }
      }
    }

    &--perfil {
      display: flex;
      align-items: center;
      font-weight: 500;
      margin: 0px 32px;

      @media (max-width: 1024px) {
        margin: 0px 8px;
      }

      @media (max-width: 768px) {
        display: none;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        margin-right: 8px;
        object-fit: cover;
      }
    }
  }

  &__linguagens {
    background-color: aquamarine;
    width: 100%;
    padding: 16px 100px 16px 0px;
    display: flex;
    justify-content: flex-end;
    max-width: 1340px;

    @media (max-width: 768px) {
      display: none;
    }

    &__idioma {
      display: flex;
      margin-left: 32px;

      input {
        width: 17px;
        height: 17px;
        margin: 0px 4px 0px 0px;
        border-radius: 100px;
        accent-color: #060606;
      }

      &--lingua {
        display: flex;
        flex-direction: column;
      }
    }
  }
}