.blocks-wrapper {
  width: calc(100% - 64px);
  max-width: calc(420px - 64px);
  background-color: #fff;
  min-width: 300px;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  &__icon {
    height: 40px;
    width: 40px;
    display: block;
    margin-bottom: 10px;
    &--approved {
      background-image: url("../../assets/blocks/ok.svg");
    }
    &--error {
      background-image: url("../../assets/blocks/error.svg");
    }
    &--alert {
      background-image: url("../../assets/blocks/alert.svg");
    }
    &--warning {
      background-image: url("../../assets/blocks/warning.svg");
    }
  }
  &__text {
    margin-top: 5px;
    line-height: 25px;
  }
}
