.positivo{
  background-color: #13CE6619;
  color: #13CE66;
  padding: 7.5px 8px;
  border-radius: 4px;
  width: fit-content;
}
.negativo{
  background-color: #FF3A4419;
  color: #89494C;
  padding: 7.5px 8px;
  border-radius: 4px;
  width: fit-content;
}
.alerta{
  background-color: #F8B70019;
  color: #79693D;
  padding: 7.5px 8px;
  border-radius: 4px;
  width: fit-content;
}
